<?xml version="1.0"?>

<robot name="go1" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="DEBUG" default="false"/>

    <xacro:property name="mesh_dir" value="package://gentact_ros_tools_hybrid/meshes/go-1/" />

    <xacro:include filename="./const.xacro"/>
    <xacro:include filename="./materials.xacro"/>
    <xacro:include filename="./leg.xacro"/>
    <!-- <xacro:include filename="./stairs.xacro"/> -->
    <xacro:include filename="./gazebo.xacro"/>
    <xacro:include filename="./depthCamera.xacro"/>
    <xacro:include filename="./ultraSound.xacro"/>
    <!-- <xacro:include filename="./launch/stairs.urdf.xacro"/> -->

    <!-- <xacro:stairs stairs="15" xpos="0" ypos="0" zpos="0" /> -->

    <!-- Rotor related joint and link is only for demonstrate location. -->
    <!-- Actually, the rotor will rotate and the joint is not fixed. Reduction ratio should be considered. -->

    <!-- Debug mode will hung up the robot, use "true" or "false" to switch it. -->
    <xacro:if value="$(arg DEBUG)">
        <link name="world"/>
        <joint name="base_static_joint" type="fixed">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="world"/>
            <child link="base"/>
        </joint>
    </xacro:if> 

    <link name="base">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>

    <joint name="floating_base" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="base"/>
        <child link="trunk"/>
    </joint>

    <link name="trunk">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="${mesh_dir}trunk.dae" scale="1 1 1"/>
            </geometry>
            <!-- <material name="orange"/> -->
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="${trunk_length} ${trunk_width} ${trunk_height}"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="${trunk_com_x} ${trunk_com_y} ${trunk_com_z}"/>
            <mass value="${trunk_mass}"/>
            <inertia
                ixx="${trunk_ixx}" ixy="${trunk_ixy}" ixz="${trunk_ixz}"
                iyy="${trunk_iyy}" iyz="${trunk_iyz}"
                izz="${trunk_izz}"/>  
        </inertial>
    </link>

    <xacro:include filename="./skin/trunk_head_skin.xacro" />
    <!-- namespace is trunk_head so that sensor names are trunk_head_skin -->
    <xacro:trunk_head_skin parent="base" namespace="trunk_head" />    

    <joint name="imu_joint" type="fixed">
        <parent link="trunk"/>
        <child link="imu_link"/>
        <origin rpy="0 0 0" xyz="-0.01592 -0.06659 -0.00617"/>
    </joint>

    <link name="imu_link">
        <inertial>
            <mass value="0.001"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.001 0.001 0.001"/>
            </geometry>
            <!-- <material name="red"/> -->
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size=".001 .001 .001"/>
            </geometry>
        </collision>
    </link>

    <xacro:leg name="FR" mirror="-1" mirror_dae= "False" front_hind="1"  front_hind_dae="True"  />
    <xacro:leg name="FL" mirror="1"  mirror_dae="True"   front_hind="1"  front_hind_dae="True"  />
    <xacro:leg name="RR" mirror="-1" mirror_dae="False"  front_hind="-1" front_hind_dae="False" />
    <xacro:leg name="RL" mirror="1"  mirror_dae="True"   front_hind="-1" front_hind_dae="False" />

    <xacro:include filename="./skin/left_calf_skin.xacro" />
    <xacro:left_calf_skin parent="FL_calf" namespace="left_calf" />    

    <xacro:include filename="./skin/right_calf_skin.xacro" />
    <xacro:right_calf_skin parent="FR_calf" namespace="right_calf" />    

    <xacro:include filename="./skin/left_thighcap_skin.xacro" />
    <xacro:left_thighcap_skin parent="FL_thigh" namespace="left_thighcap" />        
    <xacro:include filename="./skin/right_thighcap_skin.xacro" />
    <xacro:right_thighcap_skin parent="FR_thigh" namespace="right_thighcap" />   

    <xacro:include filename="./skin/left_thigh_skin.xacro" />
    <xacro:left_thigh_skin parent="FL_thigh" namespace="left_thigh" />   

    <xacro:include filename="./skin/right_thigh_skin.xacro" />
    <xacro:right_thigh_skin parent="FR_thigh" namespace="right_thigh" />    
    

    <xacro:depthCamera camID="1" name="face">
        <origin rpy="${PI} 0 0" xyz="0.2785 0.0125 0.0167"/>
    </xacro:depthCamera>

    <xacro:depthCamera camID="2" name="chin">
        <origin rpy="${PI} ${PI/2} 0" xyz="0.2522 0.0125 -0.0436"/>
    </xacro:depthCamera>

    <xacro:depthCamera camID="3" name="left">
        <origin rpy="${PI} 0.2618 ${PI/2}" xyz="-0.066 0.082 -0.0176"/>
    </xacro:depthCamera>

    <xacro:depthCamera camID="4" name="right">
        <origin rpy="${PI} 0.2618 ${-PI/2}" xyz="-0.041 -0.082 -0.0176"/>
    </xacro:depthCamera>

    <xacro:depthCamera camID="5" name="rearDown">
        <origin rpy="${PI} ${PI/2} 0" xyz="-0.0825 0.0125 -0.04365"/>
    </xacro:depthCamera>

    <joint name="camera_laserscan_joint_left" type="fixed">
        <origin rpy="0 0.2618 0" xyz="0 0 0"/>
        <parent link="camera_left"/>
        <child link="camera_laserscan_link_left"/>
    </joint>

    <link name="camera_laserscan_link_left">
    </link>

    <joint name="camera_laserscan_joint_right" type="fixed">
        <origin rpy="0 0.2618 0" xyz="0 0 0"/>
        <parent link="camera_right"/>
        <child link="camera_laserscan_link_right"/>
    </joint>

    <link name="camera_laserscan_link_right">
    </link>

    <xacro:ultraSound name="left">
        <origin rpy="0 0.2618 ${PI/2}" xyz="-0.0535  0.0826 0.00868"/>
    </xacro:ultraSound>

    <xacro:ultraSound name="right">
        <origin rpy="0 0.2618 ${-PI/2}" xyz="-0.0535 -0.0826 0.00868"/>
    </xacro:ultraSound>

    <xacro:ultraSound name="face">
        <origin rpy="0 0 0" xyz="0.2747 0.0 -0.0088"/>
    </xacro:ultraSound>
</robot>
