<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Macro definition for left elbow skin unit -->
<xacro:macro name="elbow_L_skin" params="parent namespace">
    <!-- Properties -->
    <xacro:property name="use_mesh_file" value="true" />
    <xacro:property name="mesh_file" value="${mesh_dir}skin/tof/elbow_L_skin.stl" />
    <xacro:property name="mass" value="0.0" /> <!-- [kg] -->
    <xacro:property name="body_width" value="0.0" /> <!-- [m] -->
    <xacro:property name="body_height" value="0.0" /> <!-- [m] -->
    <xacro:property name="sensor_length" value="0.0" /> <!-- [m] -->
    <xacro:property name="sensor_radius" value="0.0" /> <!-- [m] -->

    <!-- Included URDF Files (NEEDED FOR BASE SKIN UNIT) -->
    <xacro:include filename="$(find gentact_descriptions_hybrid)/robots/common/skin_unit_base.xacro" />

    <!--
      STL exported in robot world frame from Blender full-robot scene.
      mesh_in_world_frame: true in sensors_config.yaml handles rendering.
      Sensor origins are in left_elbow_link local frame (Y-mirrored from right).
    -->
    <xacro:dermis_base_macro
    robot_namespace="${namespace}"
    parent="${parent}"
    mass="${mass}"
    body_width="${body_width}"
    body_height="${body_height}"
    use_mesh_file="${use_mesh_file}"
    mesh_file="${mesh_file}">
    <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:dermis_base_macro>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="0"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="-0.593908"
        normal_y="0.801301"
        normal_z="-0.072040">
        <origin xyz="-0.045 0.011 -0.005" rpy="-1.643 0.053 0.634" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="1"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="-0.042045"
        normal_y="0.880060"
        normal_z="0.472997">
        <origin xyz="-0.001 0.013 0.042" rpy="-1.078 -0.020 0.037" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="2"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="0.038000"
        normal_y="0.808883"
        normal_z="-0.586741">
        <origin xyz="0.002 0.012 -0.044" rpy="-2.198 -0.022 -0.031" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="3"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="0.016999"
        normal_y="0.999855"
        normal_z="-0.001204">
        <origin xyz="0.002 0.017 -0.003" rpy="-1.572 0.000 -0.017" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="4"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="0.143503"
        normal_y="0.989650"
        normal_z="0.000796">
        <origin xyz="0.048 0.014 -0.005" rpy="-1.570 0.000 -0.144" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="5"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="0.016992"
        normal_y="0.999441"
        normal_z="0.028792">
        <origin xyz="0.095 0.010 -0.008" rpy="-1.542 0.000 -0.017" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="6"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="0.036663"
        normal_y="0.177793"
        normal_z="0.983385">
        <origin xyz="0.089 -0.021 0.031" rpy="-0.179 0.036 -0.007" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="7"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="0.022085"
        normal_y="0.109329"
        normal_z="-0.993760">
        <origin xyz="0.089 -0.026 -0.054" rpy="-3.032 -0.022 -0.002" />
    </xacro:self_cap_sensor>

    </xacro:macro>

</robot>
