<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Macro definition for left hip roll skin unit -->
<xacro:macro name="hip_roll_L_skin" params="parent namespace">
    <!-- Properties -->
    <xacro:property name="use_mesh_file" value="true" />
    <xacro:property name="mesh_file" value="${mesh_dir}skin/tof/left_hip_roll_skin.stl" />
    <xacro:property name="mass" value="0.0" /> <!-- [kg] -->
    <xacro:property name="body_width" value="0.0" /> <!-- [m] -->
    <xacro:property name="body_height" value="0.0" /> <!-- [m] -->
    <xacro:property name="sensor_length" value="0.0" /> <!-- [m] -->
    <xacro:property name="sensor_radius" value="0.0" /> <!-- [m] -->

    <!-- Included URDF Files (NEEDED FOR BASE SKIN UNIT) -->
    <xacro:include filename="$(find gentact_descriptions_hybrid)/robots/common/skin_unit_base.xacro" />

    <!--
      STL exported in robot world frame from Blender full-robot scene.
      mesh_in_world_frame: true — mesh drawn at raw world coords (no transform).
      sensor_pos / sensor_rpy from Blender are in the SKIN OBJECT local frame
      (same as your table). dermis_base origin below places that skin-object
      origin relative to left_hip_roll_link so sensors land on the mesh:
        world = T_link @ T_dermis @ sensor_pos
    -->
    <xacro:dermis_base_macro
    robot_namespace="${namespace}"
    parent="${parent}"
    mass="${mass}"
    body_width="${body_width}"
    body_height="${body_height}"
    use_mesh_file="${use_mesh_file}"
    mesh_file="${mesh_file}">
    <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:dermis_base_macro>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="0"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="0.072000"
        normal_y="0.996634"
        normal_z="-0.039193">
        <origin xyz="0.006 0.079 -0.118" rpy="-1.610 -0.003 -0.072" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="1"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="0.140589"
        normal_y="0.989721"
        normal_z="-0.026200">
        <origin xyz="0.036 0.078 -0.041" rpy="-1.597 -0.004 -0.141" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="2"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="-0.045994"
        normal_y="0.998598"
        normal_z="-0.026201">
        <origin xyz="-0.007 0.083 -0.000" rpy="-1.597 0.001 0.046" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="3"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="0.998092"
        normal_y="0.027125"
        normal_z="-0.055473">
        <origin xyz="0.068 0.017 -0.061" rpy="-1.699 -1.122 -1.428" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="4"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="0.997392"
        normal_y="0.045543"
        normal_z="-0.055990">
        <origin xyz="0.071 0.043 0.003" rpy="-1.659 -0.882 -1.457" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="5"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="0.998092"
        normal_y="0.027125"
        normal_z="-0.055473">
        <origin xyz="0.064 0.043 -0.122" rpy="-1.699 -1.122 -1.428" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="6"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="-0.995167"
        normal_y="0.017072"
        normal_z="-0.096705">
        <origin xyz="-0.080 0.025 -0.009" rpy="-2.077 1.370 1.056" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="7"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="-0.985797"
        normal_y="0.017514"
        normal_z="-0.167028">
        <origin xyz="-0.063 0.027 -0.089" rpy="-2.571 1.371 0.562" />
    </xacro:self_cap_sensor>

    </xacro:macro>

</robot>
