<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Macro definition for skin unit -->
<xacro:macro name="shoulder_roll_R_skin" params="parent namespace">
    <!-- Properties -->
    <xacro:property name="use_mesh_file" value="true" />
    <xacro:property name="mesh_file" value="${mesh_dir}/skin/tof/shoulder_roll_L_skin.stl" />
    <xacro:property name="mass" value="0.0" /> <!-- [kg] -->
    <xacro:property name="body_width" value="0.0" /> <!-- [m] -->
    <xacro:property name="body_height" value="0.0" /> <!-- [m] -->
    <xacro:property name="sensor_length" value="0.0" /> <!-- [m] -->
    <xacro:property name="sensor_radius" value="0.0" /> <!-- [m] -->

    <!-- Included URDF Files (NEEDED FOR BASE SKIN UNIT) -->
    <xacro:include filename="$(find gentact_descriptions_hybrid)/robots/common/skin_unit_base.xacro" />

    <!-- Instantiate dermis once -->
    <xacro:dermis_base_macro
    robot_namespace="${namespace}"
    parent="${parent}"
    mass="${mass}"
    body_width="${body_width}"
    body_height="${body_height}"
    use_mesh_file="${use_mesh_file}"
    mesh_file="${mesh_file}">
    <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:dermis_base_macro>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="0"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="1.574"
        normal_y="0.016"
        normal_z="1.618">
        <origin xyz="0.019 -0.001 0.022" rpy="-1.574 -0.072 -1.524" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="1"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="0.095"
        normal_y="-1.642"
        normal_z="-2.656">
        <origin xyz="0.015 0.031 -0.046" rpy="-1.642 -0.107 -0.982" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="2"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="-0.066"
        normal_y="-1.636"
        normal_z="2.606">
        <origin xyz="0.013 -0.034 -0.049" rpy="1.637 -0.095 0.962" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="3"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="1.561"
        normal_y="-0.021"
        normal_z="1.671">
        <origin xyz="0.019 -0.000 -0.100" rpy="-1.561 0.100 -1.470" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="4"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="-1.566"
        normal_y="-0.001"
        normal_z="0.214">
        <origin xyz="-0.039 0.052 -0.112" rpy="-1.566 -0.001 0.214" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="5"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="1.572"
        normal_y="0.000"
        normal_z="-0.184">
        <origin xyz="-0.041 -0.052 -0.113" rpy="1.572 0.000 -0.184" />
    </xacro:self_cap_sensor>

    </xacro:macro>

</robot>
