<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Macro definition for right shoulder yaw skin unit -->
<xacro:macro name="shoulder_yaw_R_skin" params="parent namespace">
    <!-- Properties -->
    <xacro:property name="use_mesh_file" value="true" />
    <xacro:property name="mesh_file" value="${mesh_dir}skin/tof/shoulder_yaw_R_skin.stl" />
    <xacro:property name="mass" value="0.0" /> <!-- [kg] -->
    <xacro:property name="body_width" value="0.0" /> <!-- [m] -->
    <xacro:property name="body_height" value="0.0" /> <!-- [m] -->
    <xacro:property name="sensor_length" value="0.0" /> <!-- [m] -->
    <xacro:property name="sensor_radius" value="0.0" /> <!-- [m] -->

    <!-- Included URDF Files (NEEDED FOR BASE SKIN UNIT) -->
    <xacro:include filename="$(find gentact_descriptions_hybrid)/robots/common/skin_unit_base.xacro" />

    <!--
      STL exported in robot world frame from Blender full-robot scene.
      mesh_in_world_frame: true in sensors_config.yaml handles rendering.
      Sensor origins are in right_shoulder_yaw_link local frame.
    -->
    <xacro:dermis_base_macro
    robot_namespace="${namespace}"
    parent="${parent}"
    mass="${mass}"
    body_width="${body_width}"
    body_height="${body_height}"
    use_mesh_file="${use_mesh_file}"
    mesh_file="${mesh_file}">
    <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:dermis_base_macro>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="0"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="0.668914"
        normal_y="-0.740744"
        normal_z="-0.062066">
        <origin xyz="0.031 -0.034 -0.032" rpy="1.633 -0.056 0.731" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="1"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="-0.057526"
        normal_y="-0.988234"
        normal_z="-0.141720">
        <origin xyz="-0.006 -0.044 -0.034" rpy="1.713 0.008 -0.057" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="2"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="-0.092040"
        normal_y="-0.961705"
        normal_z="-0.258169">
        <origin xyz="-0.016 -0.034 -0.073" rpy="1.832 0.024 -0.089" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="3"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="-0.974167"
        normal_y="-0.225828"
        normal_z="-0.001204">
        <origin xyz="-0.045 -0.011 -0.035" rpy="1.572 0.003 -1.343" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="4"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="-1.000000"
        normal_y="-0.000407"
        normal_z="0.000204">
        <origin xyz="-0.046 0.002 -0.097" rpy="-3.142 1.571 0.000" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="5"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="-0.414398"
        normal_y="0.909431"
        normal_z="0.034785">
        <origin xyz="-0.021 0.042 -0.029" rpy="-1.536 -0.016 0.427" />
    </xacro:self_cap_sensor>

    </xacro:macro>

</robot>
