<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Macro definition for skin unit -->
<xacro:macro name="trunk_head_skin" params="parent namespace">
    <!-- Properties -->
    <xacro:property name="use_mesh_file" value="true" />
    <xacro:property name="mesh_file" value="${mesh_dir}skin/trunk/trunk_head_skin.stl" />
    <xacro:property name="mass" value="0.0" /> <!-- [kg] -->
    <xacro:property name="body_width" value="0.0" /> <!-- [m] -->
    <xacro:property name="body_height" value="0.0" /> <!-- [m] -->
    <xacro:property name="sensor_length" value="0.0" /> <!-- [m] -->
    <xacro:property name="sensor_radius" value="0.0" /> <!-- [m] -->

    <!-- Included URDF Files (NEEDED FOR BASE SKIN UNIT) -->
    <xacro:include filename="$(find gentact_descriptions_hybrid)/robots/common/skin_unit_base.xacro" />

    <!-- Instantiate dermis once -->
    <xacro:dermis_base_macro
    robot_namespace="${namespace}"
    parent="${parent}"
    mass="${mass}"
    body_width="${body_width}"
    body_height="${body_height}"
    use_mesh_file="${use_mesh_file}"
    mesh_file="${mesh_file}">
    <origin xyz="0.275155 0.001302 0.010202" rpy="0 0 1.570796" />
    </xacro:dermis_base_macro>



    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="0"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="1.2075234651565552"
        normal_y="-0.007908201776444912"
        normal_z="-0.020799949765205383">
        <origin xyz="0.00025236696819774806 -0.2968325912952423 0.04981664940714836" rpy="1.2075234651565552 -0.007908201776444912 -0.020799949765205383" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="1"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="1.1489475965499878"
        normal_y="-0.39848679304122925"
        normal_z="-0.7129077315330505">
        <origin xyz="-0.03770412877202034 -0.2818562388420105 0.051483239978551865" rpy="1.1489475965499878 -0.39848679304122925 -0.7129077315330505" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="2"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="1.1440706253051758"
        normal_y="0.4009367823600769"
        normal_z="0.7093470692634583">
        <origin xyz="0.03843432292342186 -0.28169137239456177 0.05167349427938461" rpy="1.1440706253051758 0.4009367823600769 0.7093470692634583" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="3"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="1.494691252708435"
        normal_y="-0.024021487683057785"
        normal_z="-0.30515751242637634">
        <origin xyz="-0.06460931897163391 -0.27623823285102844 0.0038362115155905485" rpy="1.494691252708435 -0.024021487683057785 -0.30515751242637634" />
    </xacro:self_cap_sensor>


    <xacro:self_cap_sensor
        robot_namespace="${namespace}"
        parent="${namespace}_skin"
        sensor_number="4"
        sensor_radius="${sensor_radius}"
        sensor_length="0.0"
        normal_x="1.4878184795379639"
        normal_y="0.02471890300512314"
        normal_z="0.2888708710670471">
        <origin xyz="0.06688925623893738 -0.2754700481891632 0.00686574075371027" rpy="1.4878184795379639 0.02471890300512314 0.2888708710670471" />
    </xacro:self_cap_sensor>

    </xacro:macro>

</robot>
